.nav-links {
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
    color: white;
}

.nav-links:hover {
    border-bottom: 2px solid white;
}

.logo-links {
    text-decoration: none;
    font-size: 20px;
}